/* Général - Variables */
:root {
    /* Couleurs */
    --darkblue: #252B48;
    --strawberry: #C2165A;
    --almond: #FDF4E7;
    --lightblue: #DCDFED;
    --lightpink: #FCE7F0;
    --white: #FFFFFF;
    --text: #2E282F;

    /* Shadow */
    --shadow: 1px 3px 4px #C4C4C4;
}

/* Reset */
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    vertical-align: baseline;
}

ul {
    list-style: none;
}

/* Typographies - Polices */
    
@font-face {
    font-family: 'Luciole';
    src: url("/fonts/Luciole-Regular.woff2") format("woff2"),
        url("/fonts/Luciole-Regular.ttf") format("truetype"),
        url("/fonts/Luciole-Regular.woff") format("woff");
}
@font-face {
    font-family: 'Luciole-bold';
    src: url("/fonts/Luciole-Bold.woff2") format("woff2"),
        url("fonts/Luciole-Bold.ttf") format("truetype"),
        url("fonts/Luciole-Bold.woff") format("woff")
}

h1,
h2,
h4 {
    font-family: 'Luciole', sans-serif;
}

h3 {
    font-family: 'Luciole-bold', sans-serif;
}

p,
a,
label {
    font-size: 17px; 
    /* 1.0625rem */
    line-height: 27px;
    /* 1.9375rem */
    font-family: Verdana, sans-serif;
    margin-bottom: 16px;
}

a {
    text-decoration: none;
}

/* Titres */

h1,
h2 {
    font-size: 32px;
    line-height: 49px;
    margin-bottom: 32px;
}

h3 {
    font-size: 28px;
    line-height: 43px;
    margin-bottom: 24px;
}

h4 {
    font-size: 22px;
    line-height: 34px;
    margin-bottom: 32px;
}

section {
    padding: 80px 24px;
}

/* Accès rapide */
header {
    background-color: var(--darkblue);
}

.before__header a {
    color: var(--text);
}

.before__header {
    padding: 3% 24px;
    background-color: var(--lightblue);
    min-height: auto;
}

.before__header--container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.before__header--container li:first-of-type {
    margin-right: 16px;
}

.before__header--container a:hover,
.customize:hover {
    color: var(--strawberry);
    text-decoration: underline;
}

/* Bouton Personnaliser */

.customize {
    background-color: var(--lightblue);
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 400;
    line-height: 31px;
    font-family: Verdana, sans-serif;
    cursor: pointer;
}

#customize svg {
    margin-right: 8px;
}

/* Menu burger */

/* https://www.w3.org/WAI/ARIA/apg/example-index/disclosure/disclosure-navigation.html et voir Wfy */

.header__site {
    padding: 16px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

#menuMobile {
    background-color: transparent;
    position: absolute;
    top: 30px;
    right: 24px;
    z-index: 1;
}

.menu__burger,
.menu__burger--close {
    fill: var(--white);
    width: 48px;
    height: 48px;
}

.menu__burger--close {
    fill: var(--strawberry);
}

.header__menu {
    background-color: var(--lightblue);
    position: absolute;
    top: 24px;
    right: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 72px 72px;
    border-radius: 5px;
}

.hidden__mobile {
    display: none;
}

.nav__container li {
    margin-bottom: 16px;
}

.nav__container li:last-of-type {
    margin-top: 12px;
    margin-bottom: 4px;
}

.nav__container li:last-of-type a {
    margin: 0 4px;
    text-decoration: none;
}

.nav__container a {
    color: var(--text);
    font-size: 110%;
}

.nav__container a:hover {
    color: var(--strawberry);
    text-decoration: underline;
    font-size: 110%;
}

.header__menu--icon {
    width: 32px;
    height: 32px;
    fill: var(--text);
}

.header__menu--icon:hover {
    fill: var(--strawberry);
}

/* Hero */

#hero {
    height: auto;
    width: 100%;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("./images/Background-Hero-mobile.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: var(--white);
}

.hero__city {
    margin-bottom: 16px;
    display: flex;
}

.hero__city--icon {
    width: 24px;
    /* 1.5 rem */
    height: 24px;
    margin-right: 8px;
    fill: var(--white);
}

.hero__image {
    margin: 40px;
}

/*  Vision métier  */

.metier__challenge:last-of-type {
    margin-bottom: 48px;
}

.langages {
    margin: 64px 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

/* Valeurs */
/* https://www.w3.org/WAI/ARIA/apg/example-index/accordion/accordion.html */

/* Titres accordéon */
.metier__title {
    padding: 6px 12px;
    margin-bottom: 16px;
    border-radius: 8px;
    background-color: var(--darkblue);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.metier__toggle {
    background-color: transparent;
    cursor: pointer;
}

.metier__chevron,
.metier__chevron--minus {
    fill: var(--white);
    width: 32px;
    height: 32px;
}

.metier__toggle[aria-expanded="true"] .metier__chevron {
    display: none;
}

.metier__toggle[aria-expanded="false"] .metier__chevron--minus {
    display: none;
}

.metier__valeur1 h4,
.metier__valeur2 h4,
.metier__valeur3 h4 {
    color: var(--white);
    margin-bottom: 0;
}

/* Contenus accordéon */
.metier__valeur1,
.metier__valeur3 {
    background-image: url('images/Background-almond-mobile.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: 0.3s ease;
}

.metier__valeur2 {
    background-image: url('images/Background-lightblue-mobile.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.valeur__presentation {
    padding: 32px 24px 64px;
}

.valeur1__icon,
.valeur2__icon,
.valeur3__icon {
    display: none;
}

/* Réalisations */

#realisation {
    padding-top: 20px;
}

.realisations__projet:first-of-type {
    margin-top: 96px;
}

/* Cartes projet */

.realisations__projet {
    border-top: var(--lightblue) 3px solid;
    padding: 24px 16px;
    display: flex;
    justify-content: space-between;
}

.realisations__projet--last {
    border-bottom: var(--lightblue) 3px solid;
}

.realisations__text {
    width: 90%;
}

.realisations__etiquette {
    width: 150px;
}

.realisations__title {
    font-size: 22px;
    line-height: 33px;
    font-family: 'Luciole', sans-serif;
}

.realisations__etiquette {
    display: inline-block;
    color: var(--darkblue);
    padding: 3px 0;
    margin-bottom: 8px;
    font-size: 15px;
    font-weight: bold;
    background-color: var(--almond);
    text-align: center;
}

.realisations__etiquette--etude {
    background-color: var(--lightpink);
    color: var(--strawberry);
}

.realisations__image img {
    width: 88px;
    height: 88px;
    margin-bottom: 24px;
}

.realisations__link {
    display: flex;
    justify-content: center;
    gap: 16px; 
}

.realisations__link svg {
    width: 24px;
    height: 24px;
}

.realisations__link svg:hover {
    fill: var(--strawberry)
}

/*  Contact */

#contact {
    padding-top: 40px;
}

.contact__subtitle {
    margin-bottom: 32px;
}

/*  Formulaire */

.formulaire p {
    color: var(--strawberry);
    font-weight: bold;
    margin-bottom: 72px;
}

form {
    padding: 64px 24px;
    display: flex;
    flex-direction: column;
    background-image: url(./images/Background-formulaire.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

label {
    margin-bottom: 4px;
}

input,
textarea {
    border: var(--darkblue) 1px solid;
    border-radius: 5px;
    font-size: 100%;
    font-family: Verdana, sans-serif;
    margin-bottom: 24px;
}

input[type='text'],
input[type='mail'] {
    height: 32px;
}

textarea {
    height: 120px;
    resize: none;
}

input[type='submit'] {
    background-color: var(--strawberry);
    color: var(--white);
    border: none;
    align-self: flex-end;
    font-weight: bold;
    padding: 12px 24px;
    cursor: pointer;
}

input[type='submit']:hover {
    background-color: var(--lightblue);
    color: var(--darkblue);
}


/*  Footer */

footer {
    background-image: url(./images/Background-footer.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: var(--white);
    padding: 120px 24px 8px;
    text-align: center;
}

.footer__title {
    font-size: 28px;
    margin-bottom: 24px;
}

.footer__text {
    margin-bottom: 56px;
}

.footer__socialicon {
    display: flex;
    justify-content: center;
    column-gap: 16px;
    margin-bottom: 56px;
}

.footer__socialicon a {
    margin-bottom: 0;
}

.footer__socialicon svg {
    width: 32px;
    height: 32px;
    fill: var(--white);
    transition: .2s ease;
}

.footer__socialicon svg:hover {
    width: 48px;
    height: 48px;
}

.footer__socialicon svg:active {
    fill: var(--strawberry);
}

.footer__sitemap li {
    margin-bottom: 12px;
}

.footer__sitemap a {
    color: var(--white);
}

/* .footer__link:active {
    font-size: 18px;
    font-weight: bold;
} */

.footer__link:hover {
    font-size: 110%;
    text-decoration: underline;
    transition: 0.2s ease;
}

.bubbles {
    display: none;
}

.footer__copyright {
    margin-top: 56px;
}

.footer__copyright p {
    font-size: 15px;
    margin-top: 24px;
}

/* Responsive design */

/* Tablet > 768px */

@media screen and (min-width: 768px) {

    /* Général */

    section {
        padding-left: 10%;
        padding-right: 10%;
    }

    /* Projets */

    .realisations__image img {
        width: auto;
        height: auto;
        margin-left: 48px;
    }

    .realisations__link {
        margin-left: 48px;
    }

    .realisations__text {
        width: auto;
        margin-bottom: 32px;
    }

    /* Formulaire */

    form {
        padding: 64px 48px;
    }
}

/* Desktop > 1080px */

@media screen and (min-width: 1080px) {

    /* Général */
    h1 {
        font-weight: 390;
        font-size: 48px;
        line-height: 67px;
        margin-bottom: 40px;
    
    }
    
    h2 {
        font-weight: 390;
        font-size: 48px;
        line-height: 79px;
        margin-bottom: 38px;
    }
    
    h3 {
        font-size: 32px;
        line-height: 50px;
        margin-bottom: 32px;
    }
    
    h4 {
        font-weight: 450;
        font-size: 28px;
        line-height: 39px;
        margin-bottom: 32px;
    }
    section {
        padding: 120px 12%;
    }

    /* Menu */

    .before__header {
        padding: 1%;
    }

    .before__header--container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 7%;
    }
    
    .header__site {
        font-size: 100%;
    }

    #menuMobile {
        display: none;
    }

    .nav__container {
        display: flex;
    }

    .nav__container li {
        margin-bottom: 0;
    }

    .nav__container a {
        font-size: 100%;
        color: var(--white);
        transition: 0.2s ease;
    }

    .nav__container a:hover {
        font-size: 110%;
        color: var(--white);
    }

    .nav__container li:last-of-type a {
        margin-left: 12px;
    }
    
    nav {
        margin-left: auto;
    } 

    .header__site {
        padding-left: 7%;
        padding-right: 7%;
    }
    
    .header__menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        right: 24px;
        padding: 0;
    }
    
    .header__menu a {
        margin: 0 20px;
    }

    .header__menu li:last-of-type a:last-of-type {
        margin: 0 32px 0 12px;
    }

    .header__menu--icon {
        fill: var(--white);
        width: 24px;
        height: 24px;
        transition: 0.2s ease;
    }

    .header__menu--icon:hover {
        fill: var(--white);
        width: 32px;
        height: 32px;
    }

    /* Section Hero */

    #hero {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .hero__image {
        margin: 0 0 0 48px;
    }

    /*  Section Valeurs */

    .metier__challenge {
        margin: 0 10% 16px;
    }

    .metier__valeur1,
    .metier__valeur3 {
        background-image: url('./images/Background-qualite.svg');
        padding: 48px 80px;
    }

    .metier__valeur2 {
        background-image: url('./images/Background-access.svg');
        padding: 48px 80px;
    }

    .metier__title {
        display: inline-block;
    }
    
    .metier__toggle {
        display: none;
    }

    .metier__container {
        display: flex;
        justify-content: center;
        align-items: center; 
    }

    .valeur__presentation {
        padding: 32px;
    }

    .valeur1__icon,
    .valeur2__icon,
    .valeur3__icon {
        display: inline;
        padding-left: 8px;
        flex-shrink: 0;
    }

    /* Section réalisations */

    .realisations__projet {
        justify-content: space-around;
        margin: 0 7%;
    }

    .realisations__presentation {
       width: 60%; 
    }

    /*  Formulaire */

    form {
        padding: 72px 20%;
    }

    /* Footer */

    .footer__informations {
        display: flex;
        justify-content: space-between;
        padding: 90px 10% 0 14%; 
        text-align: left;
        /* column-gap: 48px; */
    }

    .footer__presentation {
        margin-right: 48px;
    }

    .footer__sitemap {
        margin-right: 32px;
    }

    .footer__text {
        width: 300px ;
    }

    .footer__socialicon {
        display: flex;
        justify-content: flex-start;
    }

    .bubbles {
        display: block;
        width: 130px;
        height: 130px;
        background-image: url('images/Bubbles.svg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        align-self: center;
    }

    .footer__copyright {
        margin-top: 0;
    }
}

/* Desktop > 1440px */

@media screen and (min-width: 1440px) {

    /* Section Hero */

    .hero__presentation {
        padding-right: 64px;
        width: 60%;
    }

    /*  Section Projet */

    .realisations__image img  {
        margin-left: 0;
    }

    .realisations__link  {
        margin-left: 0;
    }
}